* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif, Arial;
  background-color: aliceblue;
}

header {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

header h1 {
  font-size: 50px;
  color: rgb(48, 48, 48);
}

p {
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
  color: rgb(52, 52, 52);
}

span {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

span p {
  margin-right: 10px;
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}

#guess-colors {
  display: flex;
  align-items: center;
  justify-content: center;
}

#guess-colors .ball {
  width: 80px;
  height: 80px;
  margin-right: 15px;
  border-radius: 50%;
}

.botao {
  text-align: center;
  margin-top: 20px;
}

#reset-game {
  padding: 14px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
}

#reset-game:active {
  transform: scale(0.98);
}
