body {
  font-family: 'Open sans', sans-serif;
  text-align: center;
}

.placar {
  display: inline-block;
}

.ball {
  border: 2px solid black;
  border-radius: 100%;
  display: inline-block;
  height: 50px;
  width: 50px;
}

.ball:active {
  border: 2px solid blue;
}
