#title{
    background-color: rebeccapurple;
    color: palevioletred;
    text-align: center;
  margin-left: 40%;
  margin-right: 40%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  border-radius: 100%;
}

#rgb-color{
    text-align: center;
    text-decoration-line:overline;
    text-decoration-color:palevioletred;
    text-decoration-style: wavy;
}

#balls{
    text-align: center;
}

.ball{
    display: inline-block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

#answer{
    color: palevioletred;
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  border-radius: 100%;
}