* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif, Arial;
  background-color: aliceblue;
}

header {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

header h1 {
  font-size: 50px;
  color: rgb(48, 48, 48);
}

p {
  margin-bottom: 20px;
  text-align: center;
  font-size: 18px;
  color: rgb(52, 52, 52);
}

h2 {
  text-align: center;
  margin-bottom: 10px;
}

#guess-colors {
  display: flex;
  align-items: center;
  justify-content: center;
}

#guess-colors .ball {
  width: 80px;
  height: 80px;
  margin-right: 15px;
  border-radius: 50%;
}
