* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(150, 150, 150);
}

header {
  margin: 20px;
  padding: 20px;
  background-color: rgb(75, 75, 75);
  text-align: center;
}

section {
  margin: 20px;
  padding: 50px 20px;
  background-color: rgb(240, 240, 240);
  text-align: center;
}

#answer {
  margin-bottom: 50px;
}

.ball {
  display: inline-block;
  border-radius: 50%;
  margin: 5px;
  width: 120px;
  height: 120px;
  background-color: black;
  border: 2px dashed black;
  cursor: pointer;
}

.divide {
  display: inline-block;
  margin-top: 50px;
  width: 50%;
}

#reset-game {
  padding: 5px;
}
