.ball {
  width: 50px;
  height: 50px;
  display: inline-block;
  border-radius: 50%;
  border: 2px solid rgb(148, 134, 134);
}

#config-1 {
  display: flex;
  flex-direction: column;
  padding: 8px;
}
